<div class="new-form">
  <div class="close-icon-area">
    <div class="close-icon">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class = "form col-md-5 col-xl-3 mx-auto">
    <div class="col-md-12 border rounded-lg bg-white text-dark py-4 px-2 my-1">
      <div class="text-center py-4">
        <h3>フォルダ追加</h3>
      </div>
      <%= form_with model: folder,url: folders_path,method: :post do |f| %>
        <div class="row col-md-12 mx-0">
          <div class="col-5 pl-0"><%= f.label :name,"フォルダ名" %></div>
          <div class="col-7 px-0"><%= f.text_field :name, class: "col-12 px-1" %></div>
        </div>

        <%= f.submit "新規登録", class: "btn btn-block mybtn btn-primary col text-white tx-tfm rounded-pill mt-4" %>
        <div class="closed-form-btn btn btn-block mybtn btn-secondary col text-white tx-tfm rounded-pill mb-4">キャンセル</div>
      <% end %>
    </div>
  </div>
</div>