<div class="new-form">
  <div class="close-icon-area">
    <div class="close-icon">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class = "container py-5 my-5">
    <div class="row col-md-6 col-lg-5 col-xl-4 border border-2 rounded-lg bg-white text-dark my-5 mx-auto py-5">
      <div class="col-md-12 mx-auto">
        <div class="logo mb-4">
  			  <div class="col-md-12 text-center">
  				 <h2>新規フォルダ</h2>
  			  </div>
  			</div>
        <%= form_with model: folder,url: folders_path,method: :post do |f| %>
          <div class="row col-md-12 mx-0">
            <div class="col-5 pl-0"><%= f.label :name,"フォルダ名" %></div>
            <div class="col-7 px-0"><%= f.text_field :name, class: "col-12 px-1" %></div>
          </div>

          <%= f.submit "新規登録", class: "btn btn-block mybtn btn-primary col text-white tx-tfm rounded-pill mt-5" %>
          <div class="closed-form-btn btn btn-block mybtn btn-outline-secondary col tx-tfm rounded-pill">キャンセル</div>
        <% end %>
      </div>
    </div>
  </div>
</div>