<div class="container-fluid px-0">
  <div class="row mx-0">
    <!--サイドバー-->
    <div class="col-md-2 border-right border-3 mt-4">
    </div>
    <!--プロフィールの内容-->
    <div class="col-md-10">
      <div class="row">
        <div class="col-12 my-5 text-white">
          <h2>新規メモ</h2>
        </div>

        <div class="row col-md-12 mx-0">
          <div class="col-xl-4">
            <%= render "memos/new_form", memo: @memo %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
