<div class="container">
  <h3><%= @memo.title %></h3>
  <pre class="bg-dark rounded text-white">
      <div class="sorcefile"></div>
      <i class="fas fa-copy ml-auto"></i>
    <code></code>
  </pre>
</div>